@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IDG Coffee Shop!</h1>
</div>

<style>
    body{
        background-image: url("https://www.bostonmagazine.com/wp-content/uploads/sites/2/2019/02/Longfellow_Upstairs_Credit_NinaGallant.jpg") ;
        min-width: 1024px;
        min-height: 100%;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left:0;
        
    }
     
    footer{
         background-color: #fff;
    }
    h1{

        color: honeydew;
    }
   

</style>


