
@{
    ViewData["Title"] = "NewUserSummary";
}

@model CoffeeShopLab.Models.NewUser

<h1>Welcome! Please Review & Confirm:</h1>

<h3>Username:</h3> <p>@Model.UserName</p>
<h3>Email:</h3> <p>@Model.Email</p>
<h3>Password:</h3> <p>@Model.Password</p>

