
@{
    ViewData["Title"] = "RegisterUser";
}

<h1>Create Account!</h1>

<form action="../NewUser/NewUserSummary" method="post">
    <label>Create a Username</label>
    <input type="text" name="UserName" placeholder="User Name" />
    <label>Please enter your E-mail:</label>
    <input type="email" name="Email" placeholder="Email" />
    <label>Create a Password:</label>
    <input type="text" name="Password" placeholder="Password" />

    <input type="submit" class ="btn-outline-primary" value="Create Account" />
    @Html.ValidationSummary()
</form>

